*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}



body{
    /* width: 300px; */
    min-height: 100vh;
    /* background: url(bg1.jpg) center/cover; */
    /* background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); */
  background: url(bg.jpg) center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

td img{
    width: 20px;
    height: 20px;
    margin-right: .5rem;
    border-radius: 50%;
    vertical-align: middle;
}

table ,th,td{
    /* border-collapse: collapse; */
    padding: 1rem;
    text-align: left;
}

main.table{
    width: 82ww;
    /* height: 90vh; */
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}

.table_header{
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
}

.table_body{
    width: 95%;
    /* height: 89%; */
    max-height: calc(89% - .8rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}
.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: hidden;
}
.table__body:hover::-webkit-scrollbar-thumb{
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: visible;
}

table{
    width: 100%;
}
thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(135, 135, 135, 0.067);
}
tbody tr:nth-child(even){
    background-color: #0000000b;    
}

tbody tr:hover{
    background-color: rgba(198, 198, 198, 0.4);   
}
